<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.kaudio" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>K.Audio</name>
    <description>A music search and download app.</description>
    <author email="erickkweka05@gmail.com" href="https://cordova.apache.org">
        Erick Kweka
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="loglevel" value="DEBUG" />
</widget>
